:host {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100%;
    min-width: 100%;
}

.form {
    width: 90%;
    max-width: 1200px;
    box-shadow: 2px 2px 5px 2px #333;
    position: relative;
}

.saved-success {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 10;
}

.saved-success_text {
    font-size: 2em;
    font-weight: bold;
    color: rgb(50, 150, 180);
}

.settings {
    display: flex;
}

.settings_block {
    width: 50%;
    border-bottom: 1px solid #777;
}

.settings_block:nth-child(even) {
    border-left: 1px solid #777;
}

.actions {
    width: 100%;
    padding: 20px;
}

.actions_save-btn, .actions_cancel-btn {
    border: 1px solid rgb(50, 150, 180);
    color: rgb(50, 150, 180);
    background: transparent;
    padding: 7px 35px;
    border-radius: 30px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.actions_save-btn:hover, .actions_cancel-btn:hover {
    background: rgb(50, 150, 180);
    color: white;
    transition: all 0.1s ease-in;
}

@media screen and (max-width: 610px) {
    .settings {
        flex-wrap: wrap;
    }

    .settings_block {
        width: 100%;
    }

    .settings_block:nth-child(even) {
        border-left: none;
    }
}