.input-row {
    margin-bottom: 10px;
}

.invalid {
    border: 1px solid #e73d39;
}

.ip-settings, .dns-settings {
    text-align: right;
    position: relative;
}

.ip-settings_backdrop, .dns-settings_backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
}

input[type=text] {
    padding: 5px;
}

label, .label {
    margin-right: 10px;
    cursor: pointer;
}

.required {
    color: #e73d39;
}